* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    background-color: #111;
    height: 100vh;
}

.share {
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.picture {
    height: 20vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 500ms ease-in-out;
}

.active {
    flex: 5;
}
